# Latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.tps
*.tcp
*/main.pdf

# System
.DS_Store
.dropbox
~$*
Icon?
.ipynb_checkpoints/

# ACM
comment.cut

# Dev
.idea/
*.iml
target/
out/

# Data
sim.pem
*pl_latencies.txt
simulation-result/
ip_locations.csv
enriched.csv
worldcities.csv
